<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <title>NLP</title>
</head>
<body>
    <h1>Translate English - Việt Nam</h1>
    <div class="container">


        <div class="text-center">

            <form method="post" action ="/" enctype="multipart/form-data" >
                <div class="form-group text-center row">
                     <div class="form-group col col-lg-6">
                          <h4>English</h4>
                          <textarea class="form-control" id="exampleTextarea" name="tweet" style="width: 500px;height:300px; font-size:1.5em" placeholder="Your Text in English">{% if tweet %}{{tweet}}{% endif %}</textarea>
                        </div>
                        <div class="form-group col col-lg-6">
                            <h4>Việt Nam</h4>
                            <textarea class="form-control" id="exampleTextare" name="data" style="width: 500px;height:300px; font-size:1.5em">{% if data %}{{data}}{% endif %}</textarea>
                          </div>
                    <button type="submit" class="btn btn-primary" style="margin-left: 500px">Translate</button>
                </div>
            </form>

        </div>
        <!-- <div class="text-center">
            <form enctype="multipart/form-data" >
                <div class="form-group text-center">
                     
                </div>
            </form>
        </div> -->
        
       

</div>

    <!-- <div class="container">
        <form method="POST" action="/">
            <textarea rows="10" cols="55" name="tweet">{% if tweet %}{{tweet}}{% endif %}</textarea>
            <button type="submit" class="btn-dark" >Translate</button>
        </form>
        <div class="result">
            {% if data %}
                <p>{{data}}</p>
            {% endif %}
        </div>
    </div> -->
</body>
</html>